/* font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: #1A0B2E;
    
    max-width: 1600px;
}
#nav-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    list-style: none;
    padding: 36px;
    color: aliceblue;
    font-size: 16px;

}
.wave{
   background:linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

}
.tech{
    color: aliceblue;
    font-weight: bold;
}
.btn{
    border-radius: 100vw;
    padding: 12px 16px;
    border: none;
    background:linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: aliceblue;
    font-size: 16px;
   

}
.btn3{
    border-radius: 100vw;
    padding: 12px 16px;
    border: none;
   background: transparent;
    color: aliceblue;
    font-size: 16px;
    border:1px solid green;
    color: green;
   
}
.benner-section{

    margin: 101px, 520px;
}


.banner-container{
   background-image: url(../image/hero-bg.png);
   min-height: 750px;
   max-width: 100%;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.banner-container .box-center{
   padding-top: 40px;
    /* padding-bottom: 101px; */
}
.banner-container .box-center h2{
    font-size: 60px;
    font-weight: 800;
    color: aliceblue;
    padding: 8px;

}
.banner-container .box-center p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.8;
    padding: 8px;
}
.banner-container .circle-img{
    width: 320px;
    height: auto;
}
.banner-container .rounded-img .micro-img{
    width: 120px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rounded-img{
    position: relative;
}
.banner-container .rounded-img span{
    background-color: green;
    border-radius: 20px;
    font-weight: 700;
    padding: 6px 15px;
    color: black;
    display: inline-block;
    position: absolute;
    left: 335px;
    top: -5px;
    animation: bounce 1.8s infinite;
}
/* Animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 2, 2);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.destination-section{
    max-width: 1600px;
    background-color: #1A0B2E;
    min-height: 646px;
    /* border: 1px solid rebeccapurple; */
    
   
}
.section-header{
align-items: center;
text-align: center;
margin: auto;
padding-top: 50px;
max-width: 1200px;
   
}
.h2-header{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #FFFFFF;

}
.section-header p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
opacity: 0.8;
}
.p-join{
    padding-top :15px;;
    padding-bottom: 80px;
}
.amonut-k{
   display: flex;
   justify-content: space-around;
   justify-items: center;

}
.amonut-k h1{
color:#00FF88;
font-size: 40px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
padding-top: 80px;

}
.complex-section{
    max-width: 1600px;
    background-color: rgba(35, 14, 61, 1);
    /* min-height: 1121px; */
    /* border: 1px solid rebeccapurple;
     */
   
}
.Grid-comlex{
max-width: 1200px;
margin: auto;
padding-top: 50px;
/* border: 1px solid red; */
   
}
/* grid layout */

.complex-section {
  padding: 80px 20px;
}


.h2-header {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 50px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 24px;
}

.card img {
  width: 36px;
  margin-bottom: 12px;
}

.card h6 {
  font-size: 20px;
  margin-bottom: 10px;
    font-weight: 600;
}

.card p {
  font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #FFFFFF;
opacity: 0.8;
padding-top :15px;;
  
}
.card-1{
  grid-row: span 2;
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(10px);
}
.card-2{
  grid-column: span 2;
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(10px);
}
.card-3{
  grid-column: span 2;
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(10px);
}
.card-4{
grid-column: span 2;
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(10px);
}
.card-5{
   background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  backdrop-filter: blur(10px);
}
